<html>
    <head>
        <title>Serving Html Page</title>
        <style>
            body{background: skyblue; font-family : verdana ; color: #ffff;}
            h1{font-size:48px; text-transform:uppercase; text-align:center;}
            h1{font-size:16px;}
        </style>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Contact Us</h1>
        
    </body>
</html>
